  .board {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .headContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .boardHeader {
    position: absolute;
    top: -53%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aquamarine;
    border-bottom: 2px solid red;
  }
  
  .clickableFigure {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;

    transition: ease-in-out;
    border-radius: 1rem;
  }