  .board {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .headContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .boardHeader {
    position: absolute;
    width: 100%;
    padding: 20px;
    margin-top: -18.2%;
    margin-bottom: 2rem;
    background-color: #FFD700;

    border-radius: 1rem;
  }
  
  .clickableFigure {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;

    transition: ease-in-out;
    border-radius: 1rem;
  }