.board {
    position: relative;
    top: 25vh;
    left: 10vw;
    padding: 10%;
    height: 75%;
    width: 75%;
    background-color: rebeccapurple;
    
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .clickableFigure {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;

    transition: ease-in-out;
    border-radius: 1rem;
  }