* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainApp {
  position: relative;
  top: 18vh;
  left: 10vw;
  padding: 10%;
  height: 75%;
  width: 75%;
  background-color: rebeccapurple;
  
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 50px;
  width: 50px;
}

input {
  padding: .5rem;
  border-radius: .5rem;
}

button {
  width: 50%;
  padding: .5rem;
  border-radius: 1rem;

  font-size: 20px;
  font-weight: 600;

  background-color: red;
}