* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.introBoard {
  margin-top: 45vh;
}

.introContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}